/* .appbar_links {
  color: white;
  text-transform: uppercase;
  text-align: center;
}
#logo {
  color: white;
  text-align: start;
  font-size: 18px;
}
.drawer_links {
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
} */
.animate__animated.animate__bounceInUp {
  --animate-duration: 2s;
}
.loginButton {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  padding: 6px 8px;
  border-radius: 4px;
  vertical-align: middle;
  text-decoration: none;
  color: black;
  margin-top: 3px;
}
