#Academics h3{
    margin: 0;
    font-family: "Roboto",
    "Helvetica",
    "Arial",
    sans-serif;
    font-size: 3rem;
    line-height: 1.167;
    letter-spacing: 0em;
    color: white;
    padding-left: 15px;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 700;
}