h2 {
  margin: 15px auto;
}
.about-us {
  text-align: center;
  padding: 2% 10%;
  background-color: white;
  z-index: 10;
  position: relative;
  margin-bottom: 320px;
}

.about-us-title {
  text-align: center;
  font-family: "Roboto";
  font-size: 30px;
  font-style: oblique;
  color: #014876;
  margin-bottom: 0;
}

.about-us-para {
  line-height: 1.5;
  font-size: 25px;
  font-family: "Montserrat Light", sans-serif;
  text-align: center;
}

.about-us h4 {
  margin-bottom: 15px;
}

hr {
  width: 8%;
  color: #014876;
  border-style: none;
  border-top: 3px solid;
}
.testimony_div {
  border: 1px solid grey;
  margin: 0 10px;
  padding: 5px;
  box-shadow: 0 5px 8px 2px grey;
}

.testimony {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.checked {
  color: rgb(255, 238, 0);
}
